:vars {
    /* Tokyo Night Storm Palette */
    --tokyo-bg: #24283b;
    --tokyo-bg-dark: #1f2335;
    --tokyo-bg-dark1: #1b1e2d;
    --tokyo-bg-highlight: #292e42;
    --tokyo-blue: #7aa2f7;
    --tokyo-blue0: #3d59a1;
    --tokyo-blue1: #2ac3de;
    --tokyo-blue2: #0db9d7;
    --tokyo-blue5: #89ddff;
    --tokyo-blue6: #b4f9f8;
    --tokyo-blue7: #394b70;
    --tokyo-comment: #565f89;
    --tokyo-cyan: #7dcfff;
    --tokyo-dark3: #545c7e;
    --tokyo-dark5: #737aa2;
    --tokyo-fg: #c0caf5;
    --tokyo-fg-dark: #a9b1d6;
    --tokyo-fg-gutter: #3b4261;
    --tokyo-green: #9ece6a;
    --tokyo-green1: #73daca;
    --tokyo-green2: #41a6b5;
    --tokyo-magenta: #bb9af7;
    --tokyo-magenta2: #ff007c;
    --tokyo-orange: #ff9e64;
    --tokyo-purple: #9d7cd8;
    --tokyo-red: #f7768e;
    --tokyo-red1: #db4b4b;
    --tokyo-teal: #1abc9c;
    --tokyo-terminal-black: #414868;
    --tokyo-yellow: #e0af68;

    /* Element Colors */
    --text-color: var(--tokyo-fg);
    --border-color: var(--tokyo-blue);
    --background-color: rgba(36, 40, 59, 0.6);
    /* --module-background: rgba(41, 46, 66, 0.4); */
    --module-background: var(--tokyo-fg-gutter);
    --active-workspace-button: var(--tokyo-comment);
    --hover-workspace-button: var(--tokyo-cyan);
    --urgent-workspace-button: var(--tokyo-red);
    --active-workspace-tag: var(--tokyo-purple);
    --occupied-workspace-tag: var(--tokyo-magenta);
    --empty-workspace-button: var(--tokyo-fg-gutter);
    --progress-bar-color: var(--tokyo-comment);
    --progress-bar-back: var(--tokyo-comment);
    --progress-bar-value-color: var(--tokyo-purple);
}

* {
    /* unset so we can style everything from the ground up. */
    all: unset;

    /* text color */
    color: var(--text-color); 
    font-weight: 900;
    font-family: "Terminess Nerd Font Mono";
    border-radius: 9px;
}

#bar-inner {
    /* color: var(--text-color);  */
    padding: 6px;
    border: solid 3px;
    border-color: var(--border-color);
    background-color: var(--background-color);
    min-height: 28px;
}


#circle-progress-back {
    border-color: var(--progress-bar-back);
    /* background-color: transparent; */ 
    color: var(--progress-bar-back);
}

#gpu-progress-bar,
#vram-progress-bar,
#cpu-progress-bar,
#ram-progress-bar,
#volume-progress-bar,
#media-progress-bar {
    color: transparent;
    border-color: var(--progress-bar-value-color);
    /* background-color: transparent; */
    font-size: 16px;
}

#uptime {
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#media-thumbnail {
    border-radius: 17px;
    min-width: 34px;
    min-height: 34px;
    -gtk-icon-transform: scale(0.75);
}

#media-status-icon {
    margin-top: 18px;
    margin-left: 18px;
    opacity: 0.9;
}

#layout {
    font-size: 18px;
    padding: 3px;
    color: var(--tokyo-purple);
}

#layout-image {
    color: var(--tokyo-purple);
}

#clock {
    font-size: 18px;
    /* background-color: var(--module-background); */
    padding: 0px 8px;
}

menu>menuitem>label,
#date-time>label,
#hyprland-language>label,
#hyprland-window>label {
    font-weight: 900;
}

/* tags widget */
#tag-button {
    padding: 0px;
    background-color: var(--active-workspace-button);
    border: 4px solid var(--active-workspace-button);
    border-radius: 23px;
    font-size: 1px;
    min-width: 22px;
    min-height: 22px;
}

#tag-button.active {
    background-color: var(--active-workspace-tag);
    border: 4px solid var(--active-workspace-tag);
    border-radius: 23px;
    font-size: 1px;
    min-height: 48px;
}

#tag-button.occupied {
    font-size: 1px;
    border: 4px solid var(--occupied-workspace-tag);
}

/* system tray */
#system-tray {
    padding: 2px 4px;
    background-color: var(--module-background);
}

/* menu and menu items (written for the system tray) */
menu {
    border: solid 2px;
    border-radius: 10px;
    border-color: var(--border-color);
    background-color: var(--background-color);
}

menu>menuitem {
    border-radius: 0px;
    background-color: var(--module-background);
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

menu>menuitem:first-child {
    margin-top: 1px;
    border-radius: 8px 8px 0px 0px;
}

menu>menuitem:last-child {
    margin-bottom: 1px;
    border-radius: 0px 0px 8px 8px;
}

menu>menuitem:hover {
    background-color: var(--active-workspace-button);
}

tooltip {
    border: solid 2px;
    border-color: var(--border-color);
    background-color: var(--background-color);
}

tooltip>* {
    padding: 2px 4px;
}
