:vars {
    /* Dracula Palette */
    --dracula-bg: #282a36;
    --dracula-current-line: #44475a;
    --dracula-selection: #44475a;
    --dracula-foreground: #f8f8f2;
    --dracula-comment: #6272a4;
    --dracula-cyan: #8be9fd;
    --dracula-green: #50fa7b;
    --dracula-orange: #ffb86c;
    --dracula-pink: #ff79c6;
    --dracula-purple: #bd93f9;
    --dracula-red: #ff5555;
    --dracula-yellow: #f1fa8c;

    /* Element Colors */
    --text-color: var(--dracula-foreground);
    --border-color: var(--dracula-purple);
    --background-color: rgba(40, 42, 54, 0.6);
    --module-background: var(--dracula-current-line);
    --active-workspace-button: var(--dracula-selection);
    --hover-workspace-button: var(--dracula-cyan);
    --urgent-workspace-button: var(--dracula-red);
    --active-workspace-tag: var(--dracula-pink);
    --occupied-workspace-tag: var(--dracula-purple);
    --empty-workspace-button: var(--dracula-current-line);
    --progress-bar-color: var(--dracula-comment);
    --progress-bar-back: var(--dracula-comment);
    --progress-bar-value-color: var(--dracula-purple);
}

* {
    /* unset so we can style everything from the ground up. */
    all: unset;

    /* text color */
    color: var(--text-color); 
    font-weight: 900;
    font-family: "Terminess Nerd Font Mono";
    border-radius: 9px;
}

#bar-inner {
    /* color: var(--text-color);  */
    padding: 6px;
    border: solid 3px;
    border-color: var(--border-color);
    background-color: var(--background-color);
    min-height: 28px;
}


#circle-progress-back {
    border-color: var(--progress-bar-back);
    /* background-color: transparent; */ 
    color: var(--progress-bar-back);
}

#gpu-progress-bar,
#vram-progress-bar,
#cpu-progress-bar,
#ram-progress-bar,
#volume-progress-bar,
#media-progress-bar {
    color: transparent;
    border-color: var(--progress-bar-value-color);
    /* background-color: transparent; */
    font-size: 16px;
}

#uptime {
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#media-thumbnail {
    border-radius: 17px;
    min-width: 34px;
    min-height: 34px;
    -gtk-icon-transform: scale(0.75);
}

#media-status-icon {
    margin-top: 18px;
    margin-left: 18px;
    opacity: 0.9;
}

#layout {
    font-size: 18px;
    padding: 3px;
    color: var(--dracula-purple);
}

#layout-image {
    color: var(--dracula-purple);
}

#clock {
    font-size: 18px;
    /* background-color: var(--module-background); */
    padding: 0px 8px;
}

menu>menuitem>label,
#date-time>label,
#hyprland-language>label,
#hyprland-window>label {
    font-weight: 900;
}

/* tags widget */
#tag-button {
    padding: 0px;
    background-color: var(--active-workspace-button);
    border: 4px solid var(--active-workspace-button);
    border-radius: 23px;
    font-size: 1px;
    min-width: 22px;
    min-height: 22px;
}

#tag-button.active {
    background-color: var(--active-workspace-tag);
    border: 4px solid var(--active-workspace-tag);
    border-radius: 23px;
    font-size: 1px;
    min-height: 48px;
}

#tag-button.occupied {
    font-size: 1px;
    border: 4px solid var(--occupied-workspace-tag);
}

/* system tray */
#system-tray {
    padding: 2px 4px;
    background-color: var(--module-background);
}

/* menu and menu items (written for the system tray) */
menu {
    border: solid 2px;
    border-radius: 10px;
    border-color: var(--border-color);
    background-color: var(--background-color);
}

menu>menuitem {
    border-radius: 0px;
    background-color: var(--module-background);
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

menu>menuitem:first-child {
    margin-top: 1px;
    border-radius: 8px 8px 0px 0px;
}

menu>menuitem:last-child {
    margin-bottom: 1px;
    border-radius: 0px 0px 8px 8px;
}

menu>menuitem:hover {
    background-color: var(--active-workspace-button);
}

tooltip {
    border: solid 2px;
    border-color: var(--border-color);
    background-color: var(--background-color);
}

tooltip>* {
    padding: 2px 4px;
}

/* theme switcher */
#theme-switcher {
    font-size: 18px;
    padding: 3px;
}

#theme-switcher-label {
    color: var(--dracula-purple);
}
