:vars {
    /* Gruvbox Dark Palette */
    --gb-bg0-hard: #1d2021;
    --gb-bg0: #282828;
    --gb-bg1: #3c3836;
    --gb-bg2: #504945;
    --gb-bg3: #665c54;
    --gb-bg4: #7c6f64;
    --gb-fg0: #fbf1c7;
    --gb-fg1: #ebdbb2;
    --gb-fg2: #d5c4a1;
    --gb-fg3: #bdae93;
    --gb-fg4: #a89984;
    --gb-red: #fb4934;
    --gb-red-dim: #cc2412;
    --gb-green: #b8bb26;
    --gb-green-dim: #98971a;
    --gb-yellow: #fabd2f;
    --gb-yellow-dim: #d79921;
    --gb-blue: #83a598;
    --gb-blue-dim: #458588;
    --gb-purple: #d3869b;
    --gb-purple-dim: #b16286;
    --gb-aqua: #8ec07c;
    --gb-aqua-dim: #689d6a;
    --gb-orange: #fe8019;
    --gb-orange-dim: #d65d0e;
    --gb-gray: #928374;

    /* Element Colors */
    --text-color: var(--gb-fg1);
    --border-color: var(--gb-blue);
    --background-color: rgba(40, 40, 40, 0.6);
    --module-background: var(--gb-bg1);
    --active-workspace-button: var(--gb-bg2);
    --hover-workspace-button: var(--gb-aqua);
    --urgent-workspace-button: var(--gb-red);
    --active-workspace-tag: var(--gb-purple);
    --occupied-workspace-tag: var(--gb-orange);
    --empty-workspace-button: var(--gb-bg1);
    --progress-bar-color: var(--gb-bg3);
    --progress-bar-back: var(--gb-bg3);
    --progress-bar-value-color: var(--gb-aqua);
}

* {
    /* unset so we can style everything from the ground up. */
    all: unset;

    /* text color */
    color: var(--text-color); 
    font-weight: 900;
    font-family: "Terminess Nerd Font Mono";
    border-radius: 9px;
}

#bar-inner {
    /* color: var(--text-color);  */
    padding: 6px;
    border: solid 3px;
    border-color: var(--border-color);
    background-color: var(--background-color);
    min-height: 28px;
}


#circle-progress-back {
    border-color: var(--progress-bar-back);
    /* background-color: transparent; */ 
    color: var(--progress-bar-back);
}

#gpu-progress-bar,
#vram-progress-bar,
#cpu-progress-bar,
#ram-progress-bar,
#volume-progress-bar,
#media-progress-bar {
    color: transparent;
    border-color: var(--progress-bar-value-color);
    /* background-color: transparent; */
    font-size: 16px;
}

#uptime {
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#media-thumbnail {
    border-radius: 17px;
    min-width: 34px;
    min-height: 34px;
    -gtk-icon-transform: scale(0.75);
}

#media-status-icon {
    margin-top: 18px;
    margin-left: 18px;
    opacity: 0.9;
}

#layout {
    font-size: 18px;
    padding: 3px;
    color: var(--gb-purple);
}

#layout-image {
    color: var(--gb-purple);
}

#clock {
    font-size: 18px;
    /* background-color: var(--module-background); */
    padding: 0px 8px;
}

menu>menuitem>label,
#date-time>label,
#hyprland-language>label,
#hyprland-window>label {
    font-weight: 900;
}

/* tags widget */
#tag-button {
    padding: 0px;
    background-color: var(--active-workspace-button);
    border: 4px solid var(--active-workspace-button);
    border-radius: 23px;
    font-size: 1px;
    min-width: 22px;
    min-height: 22px;
}

#tag-button.active {
    background-color: var(--active-workspace-tag);
    border: 4px solid var(--active-workspace-tag);
    border-radius: 23px;
    font-size: 1px;
    min-height: 48px;
}

#tag-button.occupied {
    font-size: 1px;
    border: 4px solid var(--occupied-workspace-tag);
}

/* system tray */
#system-tray {
    padding: 2px 4px;
    background-color: var(--module-background);
}

/* menu and menu items (written for the system tray) */
menu {
    border: solid 2px;
    border-radius: 10px;
    border-color: var(--border-color);
    background-color: var(--background-color);
}

menu>menuitem {
    border-radius: 0px;
    background-color: var(--module-background);
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

menu>menuitem:first-child {
    margin-top: 1px;
    border-radius: 8px 8px 0px 0px;
}

menu>menuitem:last-child {
    margin-bottom: 1px;
    border-radius: 0px 0px 8px 8px;
}

menu>menuitem:hover {
    background-color: var(--active-workspace-button);
}

tooltip {
    border: solid 2px;
    border-color: var(--border-color);
    background-color: var(--background-color);
}

tooltip>* {
    padding: 2px 4px;
}

/* theme switcher */
#theme-switcher {
    padding: 3px;
}

#theme-switcher-image {
    color: var(--gb-purple);
}
