:vars {
    /* Nord Palette */
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

    /* Element Colors */
    --text-color: var(--nord4);
    --border-color: var(--nord8);
    --background-color: rgba(46, 52, 64, 0.6);
    --module-background: var(--nord1);
    --active-workspace-button: var(--nord3);
    --hover-workspace-button: var(--nord7);
    --urgent-workspace-button: var(--nord11);
    --active-workspace-tag: var(--nord9);
    --occupied-workspace-tag: var(--nord15);
    --empty-workspace-button: var(--nord1);
    --progress-bar-color: var(--nord3);
    --progress-bar-back: var(--nord3);
    --progress-bar-value-color: var(--nord8);
}

* {
    /* unset so we can style everything from the ground up. */
    all: unset;

    /* text color */
    color: var(--text-color); 
    font-weight: 900;
    font-family: "Terminess Nerd Font Mono";
    border-radius: 9px;
}

#bar-inner {
    /* color: var(--text-color);  */
    padding: 6px;
    border: solid 3px;
    border-color: var(--border-color);
    background-color: var(--background-color);
    min-height: 28px;
}


#circle-progress-back {
    border-color: var(--progress-bar-back);
    /* background-color: transparent; */ 
    color: var(--progress-bar-back);
}

#gpu-progress-bar,
#vram-progress-bar,
#cpu-progress-bar,
#ram-progress-bar,
#volume-progress-bar,
#media-progress-bar {
    color: transparent;
    border-color: var(--progress-bar-value-color);
    /* background-color: transparent; */
    font-size: 16px;
}

#uptime {
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#media-thumbnail {
    border-radius: 17px;
    min-width: 34px;
    min-height: 34px;
    -gtk-icon-transform: scale(0.75);
}

#media-status-icon {
    margin-top: 18px;
    margin-left: 18px;
    opacity: 0.9;
}

#layout {
    font-size: 18px;
    padding: 3px;
    color: var(--nord9);
}

#layout-image {
    color: var(--nord9);
}

#clock {
    font-size: 18px;
    /* background-color: var(--module-background); */
    padding: 0px 8px;
}

menu>menuitem>label,
#date-time>label,
#hyprland-language>label,
#hyprland-window>label {
    font-weight: 900;
}

/* tags widget */
#tag-button {
    padding: 0px;
    background-color: var(--active-workspace-button);
    border: 4px solid var(--active-workspace-button);
    border-radius: 23px;
    font-size: 1px;
    min-width: 22px;
    min-height: 22px;
}

#tag-button.active {
    background-color: var(--active-workspace-tag);
    border: 4px solid var(--active-workspace-tag);
    border-radius: 23px;
    font-size: 1px;
    min-height: 48px;
}

#tag-button.occupied {
    font-size: 1px;
    border: 4px solid var(--occupied-workspace-tag);
}

/* system tray */
#system-tray {
    padding: 2px 4px;
    background-color: var(--module-background);
}

/* menu and menu items (written for the system tray) */
menu {
    border: solid 2px;
    border-radius: 10px;
    border-color: var(--border-color);
    background-color: var(--background-color);
}

menu>menuitem {
    border-radius: 0px;
    background-color: var(--module-background);
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

menu>menuitem:first-child {
    margin-top: 1px;
    border-radius: 8px 8px 0px 0px;
}

menu>menuitem:last-child {
    margin-bottom: 1px;
    border-radius: 0px 0px 8px 8px;
}

menu>menuitem:hover {
    background-color: var(--active-workspace-button);
}

tooltip {
    border: solid 2px;
    border-color: var(--border-color);
    background-color: var(--background-color);
}

tooltip>* {
    padding: 2px 4px;
}

/* theme switcher */
#theme-switcher {
    font-size: 18px;
    padding: 3px;
}

#theme-switcher-label {
    color: var(--nord9);
}
